# Gitignore file for Parser
*.out
*.o

# These are for me to ignore for now
OldParser.cpp
OldParser.h

# Ignore executables (forces every user to make)
main
test
main-astar
test-astar

# Don't need to include the data
# data/

# CMake things
_build/
*.a
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# Ignore catch2 dependency (forces cmake3 everytime)
_deps/